<!-- auth.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" type="text/css" href="auth-style.css">
</head>
<body>
    <div class="auth-container">
        <h2>Register</h2>
        <form id="registerForm">
            <div class="form-group">
                <label for="registerEmail">Email:</label>
                <input type="email" id="registerEmail" name="registerEmail" required>
            </div>
            <div class="form-group">
                <label for="registerPassword">Password:</label>
                <input type="password" id="registerPassword" name="registerPassword" required>
            </div>
            <button type="submit">Register</button>
        </form>

        <h2>Login</h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="loginEmail">Email:</label>
                <input type="email" id="loginEmail" name="loginEmail" required>
            </div>
            <div class="form-group">
                <label for="loginPassword">Password:</label>
                <input type="password" id="loginPassword" name="loginPassword" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js" type="module"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js" type="module"></script>
    <script type="module" src="/firebase-config.js"></script>
    <script type="module" src="auth.js"></script>
    

</body>
</html>
